<div class="p-5 max-w-full">
  <h1 class="text-5xl font-bold mb-6 text-center">Ошибка в работе счётных модулей</h1>

  <div class="text-center text-2xl mt-4 ">
    <span class="text-red-500"><p><%= @error_text %></p></span>
      </div>

  <div class="flex justify-center">
    <a href="/fds" class="mt-8 text-center h-12 text-xl mb-6 w-1/2 flex justify-center items-center rounded-md border border-transparent bg-indigo-600 py-1.5 px-4 font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
      Вернуться на предыдущую страницу и для корректировки входных параметров
    </a>
  </div>

</div>
